language: php

php:
  - 7.0
  - 7.1

before_install:
  - composer self-update

install:
  - composer install --no-interaction --prefer-source

script:
  - vendor/bin/tester -p phpdbg tests -s --coverage ./coverage.xml --coverage-src ./src

after_success:
    - wget https://github.com/satooshi/php-coveralls/releases/download/v1.0.1/coveralls.phar
    - php coveralls.phar --verbose --config tests/.coveralls.yml

services:
  - redis-server
